


/*--------------------------------------------------------------------------------------------*/

.KanbanTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

    .KanbanTable th {
        width: 20%;
        border: 1px solid #ccc;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 3px;
        padding-right: 3px;
        background: #f0f0f0;
        text-align: left;
    }

    .KanbanTable td {
        width: 20%;
        padding-top: 0.5em;
        padding-bottom: 45%;
        padding-left: 3px;
        padding-right: 3px;
        text-align: left;
        border: 1px solid #ccc;
        border-top: none;
    }

body {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    height: 591px;
}

h1 {
    font-family: Georgia;
    font-style: normal;
    font-weight: 900;
}

/*home page main division*/
.div {
    text-align: center;
    border: none;
    height: 15%;
    font-size: x-large;
}

/* Add New Task button of home page */
.div1 {
    text-align: right;
    border: none;
}
.divT {
text-align :center ;
}

/*the KanBan board table of home page*/
.div2 {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    width: 835px;
    height: 417px;
}







/*the main division for Loginpage, Add comment page, UI_NewTask page, Sign Up page, and UI_ID page (all pages except home page)*/
.divNewT {
    width: 50%;
    margin: auto;
    height: 377px;
    text-align: center;
}

/*the header division of Loginpage, Add comment page, UI_NewTask page, Sign Up page, and UI_ID page (all pages except home page)*/
.divNewT1 {
    text-align: left;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    height: 27px;
}

/*"close" button for Loginpage, Add comment page, UI_NewTask page, Sign Up page, and UI_ID page (all pages except home page)*/
.btnC {
    float: right;
}

/*"Add" or "Submit" button for Loginpage, Sign up page, Add comment page, UI_NewTask page, and UI_ID page(all pages except home page) */
.NewTAdd {
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 13px;
}


/*For "task fields" of UI_ID page and UI_NewTask page*/
.divNewT2 {
    float: right;
    margin-right: 280px;
   
    text-align: left;
}

/* Text part for UI_NewTask page and UI_ID page */
.divNewT3 {
    text-align: left;
    margin-left:60px;
    
    height: 197px;
    margin-top: 0px;
    
}

/*lable "Task fields" of UI_NewTask page and UI_ID page*/
.lblTF {
    font-weight: 800;
}


/*UI_ID*/

divID1 {
    text-align: right;
}


/*Navigation for all pages */
#navigation {
    margin: 0;
    padding: 0 1em;
    height: 2.4em;
    list-style: none;
}

    #navigation > li {
        float: right;
        height: 100%;
        margin-left: 0,5em;
        padding: 0 1em;
    }

        #navigation > li > a {
            float: left;
            height: 100%;
            color: black;
            text-decoration: none;
            line-height: 3;
            font-weight: bold;
            text-transform: uppercase;
        }

            #navigation > li > a:hover {
                text-decoration: underline;
            }

/*for Login page, add comment page */
.divComment {
    text-align: left;
    margin-left: 30px;
}


/*for the home page form*/
#formHome {
    height: 97px;
}

/*for text area of Add Comment page and UI_NewTask page and UI_ID page*/
#TextArea1 {
    height: 101px;
    width: 276px;
}

#Title1 {
    width: 232px;
}




/*New version*/

body {
padding: 0;
margin: 0;
text-align: center;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 20px;
}


#header  { padding: 22px 00px 12px 00px; }

#content { padding: 50px 00px 30px 00px; }


/* ***************************
       Layout
**************************** */

.wrapper {
text-align: left;
margin: 0 auto;
width: 940px;
}


.wrapper1 {
text-align: left;
margin-left :325px;
width: 940px;
}

#content {
position: relative;
}

#container, #header {
margin: 0 auto;
}





/* ***************************
       Content
**************************** */

#content {
color: #515348;
height: 1%;
}

#content a {
color: #36808e;
border-bottom: 1px solid #d0e8e7;
}


body.small #wrapper {
text-align: left;
margin: 0 auto;
}

body.small #content {
padding: 25px 30px 20px 30px;
    top: 6px;
    left: 6px;
}

body.small #content input.inputtext {
width: 240px;
}



/* ***************************
       Small
**************************** */

body.login #header { width: 460px; }
body.login #header h1 a { width: 320px; } /**/
body.login #container { width: 460px; }
body.login .wrapper { width: 380px; }


body.small #wrapper {
text-align: left;
margin: 0 auto;
}
body.small #header {
margin-bottom: 30px;
padding: 40px 0 0 0;
border: none;
background: none;
}
body.small #container {
border-radius: 6px;

}
body.small #header h1 {
margin: 0 30px;
}

body.small #content {
padding: 25px 30px 20px 30px;
}

body.small #content input.inputtext {
width: 240px;
}

body.small #content h2 {
font-size: 18px;
}

/*Login*/
table.login {
margin: 5px auto;
}

table.login input.inputtext {
width: 250px !important;
color: #515348;
}
table.login input.public-button {
margin: 0;
}



/* ***************************
       General
**************************** */

input.inputtext {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
border: 1px solid #aaa;
padding: 7px;
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
font-size: 13px;
border-radius: 3px;
position: relative;
}

.inputtext1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
border: 1px solid #aaa;
padding: 7px;
padding: 7px;
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
font-size: 13px;
border-radius: 3px;
}

.droplist {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
border: 1px solid #aaa;
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 3px;
font-size: 13px;
padding: 7px;
}

/* ***************************
       Misc
**************************** */

.smalltxt { font-size: 15px; }


/* COLORS */

#header { background: #eeede7; border-bottom: 2px solid #d8d5c7; }
#top { background: #e6e4db; border-bottom: 4px solid #d8d5c7; }

html, body { background: #e6e4db; }
div.internal, body.small { background: #e6e4db; }
div.internal #top { background: #f2f1ec; background: linear-gradient(#f2f1ec, #eeede7); -pie-background: linear-gradient(#f2f1ec, #eeede7); position: relative; behavior: url(/_pie/PIE.htc); border: 1px solid #e0ddcd; }
div.internal #content { background: #f7f6f3; border: 1px solid #e1dfd4; border-top: none; }

body.small #container { background: #f7f6f3; border: 1px solid #e1dfd4; }

/*Button*/

input.public-button {
   
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
vertical-align: top;
padding: 6px 14px 6px 14px;
border: 1px solid #a2a2a2;
color: #444;
cursor: pointer;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: -webkit-linear-gradient(#fff, #e5e5e5);
background: -moz-linear-gradient(#fff, #e5e5e5);
background: -ms-linear-gradient(#fff, #e5e5e5);
background: -o-linear-gradient(#fff, #e5e5e5);
background: linear-gradient(#fff, #e5e5e5);

position: relative;

}
input.public-button:hover {
background: #e5e5e5;
transition: background 0.05s linear;
}




/* ***************************
       Internal
**************************** */

div.internal {
padding: 30px 0 0 0;
}

div.internal #top, div.internal #content {
margin: 0 auto 0 auto;
width: 740px;
}

div.internal #top {
padding: 15px 00px 20px 00px;
-moz-border-radius: 6px 6px 0 0;
-webkit-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
behavior: url(/_pie/PIE.htc);
}
div.internal #top h2 {
background: none;
height: auto;
text-indent: 0;
overflow: visible;
margin-top: 0;
color: #6b6b5f;
font-size: 23px;
}

div.internal #content {
padding-top: 10px;
border-top: none;
-moz-border-radius: 0 0 6px 6px;
-webkit-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
behavior: url(/_pie/PIE.htc);
}


